<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/FotosBezerra/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Salve Salve</title>
</head>
<body>
    
    <i class="bi bi-list menu-mobile"></i>


    <aside id='header'>
        <section class="profile">
            <img src="../static/FotosBezerra/images (1).jpeg" alt="Foto do Bezerra">
            <h1>Bezerra da Silva</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.tiktok.com/@bezerraobrabao">
                    <i class="bi bi-tiktok"></i>

                </a>
                <a target="_blank" href="https://www.instagram.com/@bezerraobrabao">
                    <i class="bi bi-instagram"></i>

                </a>
                <a target="_blank" href="https://www.youtube.com/@bezerraobrabao">
                    <i class="bi bi-youtube"></i>

                </a>
                


            </div>


        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#compositores"><i class="bi bi-person-vcard-fill"></i> Compositores</a>
                </li>                 
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-book"></i> História</a>
                </li>                   
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-music-note-list"></i> Cifras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contato</a>
                </li>  
                </li>
              </ul>


        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Bezerra da Silva</h2>
                <span id="subtitle" class="text-white text-shadow">O Mais Brabo de Todos</span>


            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"
                    aria-hidden="true"></i>"
                    <a href="#sobre">Arraste para mais</a>


                </div>


                


            </div>



        </section>

        <section class="container mt-5" id='sobre'>

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Acreditamos no poder da música para transformar a realidade das pessoas.
                        E ninguém fez isso melhor do que Bezerra da Silva, narrando a verdade 
                        que ocorre e ocorria nos morros, favelas, subúrbios e etc., nos lugares
                        onde a TV não mostrava e onde as pessoas passavam por muitos problemas
                        sociais e econômicos mas eram quase "invisíveis" para outra parte 
                        da população, aparecendo apenas em noticiários criminais praticamente.

                        Diante disso, pretendemos divulgar a obra do maior narrador da vida real 
                        do povo brasileiro, com suas denúncias e ironias sobre como a elite 
                        perversa e os políticos faziam para se manter no poder, as custas da vida
                        do povo, juntamente com suas histórias sobre a vida cotidiana nos morros e
                        periferias do Rio e do Brasil!
                    </p>


                </div>


            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/FotosBezerra/images (7).jpeg" alt="Foto do Bezerra">


                </div>
                <div class="col-md-8">
                    <h3>Cantor, Compositor e Multi-instrumentista</h3>
                    <p>Interpréte do Morro, gostava de cantar músicas dos compositores locais e as modificava para seu estilo, 
                        mas quase nunca colocava seu nome como autor,
                        pois tinha grande crítica a forma que os compositores 
                        eram tratados por artistas e gravadoras. Também tocava instrumentos de percussão em geral, além de violão,
                        cavaco e piano.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">23 de Fevereiro
                                        de 1927</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Recife</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Pernambuco</span>
                                </li>
                                <li class="list-group-item">
                                    País: <span class="fw-lighter">Brasil</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Falecimento: <span class="fw-lighter">17 de Janeiro
                                        de 2005</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                            
                                <li class="list-group-item">
                                    Título: <span class="fw-lighter">"Embaixador dos Morros e
                                        Favelas" ou "A Voz do Morro"
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="compositores">

            <div class="container pb-5">
                <h2 class='pt-5'>Compositores</h2>
                <p>Uma das coisas mais importantes na carreira musical de Bezerra da Silva
                    eram os compositores, ao qual eram chamados de "compositores de verdade".
                    Tentaremos trazer informações sobre eles nessa parte. </p>

                <div class="row">
                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> 1000tinho </p>
                        <p class='mt-3 mb-0'> adelino da chatuba </p>
                        <p class='mt-3 mb-0'> Adelzonilton </p>
                        <p class='mt-3 mb-0'> Ary Do Cavaco </p>
                        <p class='mt-3 mb-0'> Athayde Lucena </p>
                        <p class='mt-3 mb-0'> Baes </p>
                        <p class='mt-3 mb-0'> Baiano 7 </p>
                        <p class='mt-3 mb-0'> Barbeirinho do Jacarezinho </p>
                        <p class='mt-3 mb-0'> Batatinha </p>
                        <p class='mt-3 mb-0'> Beto Pernada </p>
                        <p class='mt-3 mb-0'> Beto sem Braço </p>
                        <p class='mt-3 mb-0'> Bibico </p>
                        <p class='mt-3 mb-0'> Bicalho </p>
                        <p class='mt-3 mb-0'> Bimba da Tavares Bastos</p>
                        <p class='mt-3 mb-0'> Biro do Cavaco</p>
                        <p class='mt-3 mb-0'> Cabana</p>
                        <p class='mt-3 mb-0'> Caboré</p>
                        <p class='mt-3 mb-0'> Capri</p>
                        <p class='mt-3 mb-0'> Carlinho Bohemia </p>
                        <p class='mt-3 mb-0'> Carlinhos do Jorge Turco </p>
                        <p class='mt-3 mb-0'> Carlinhos Russo </p>
                        <p class='mt-3 mb-0'> Claudinho Inspiração </p>
                        <p class='mt-3 mb-0'> Cosme da viola</p>
                        <p class='mt-3 mb-0'> Cosme Diniz </p>
                        <p class='mt-3 mb-0'> Criolo Doido </p>
                        <p class='mt-3 mb-0'> Darci do Pandeiro </p>
                        <p class='mt-3 mb-0'> Dario Augusto </p>
                        <p class='mt-3 mb-0'> Deja</p>
                        <p class='mt-3 mb-0'> Délcio Carvalho</p>
                        <p class='mt-3 mb-0'> Dinho </p>
                        <p class='mt-3 mb-0'> Duda </p>
                        <p class='mt-3 mb-0'> Dunga do Coroa</p>
                        <p class='mt-3 mb-0'> Edson Show </p>
                        <p class='mt-3 mb-0'> Eli Santos </p>
                        <p class='mt-3 mb-0'> Eliezer da Ponte</p>
                        <p class='mt-3 mb-0'> Elson Gente Boa</p>
                        <p class='mt-3 mb-0'> Embratel do Pandeiro</p>
                        <p class='mt-3 mb-0'> Felipão</p>
                        <p class='mt-3 mb-0'> Fernando de Jesus</p>
                        <p class='mt-3 mb-0'> Franco Teixeira </p>
                        <p class='mt-3 mb-0'> G. Martins</p>
                        <p class='mt-3 mb-0'> Galhardo</p>
                        <p class='mt-3 mb-0'> Genilda do Pinga</p>
                        <p class='mt-3 mb-0'> Geraldão</p>
                        <p class='mt-3 mb-0'> Geraldo Gomes</p>
                        <p class='mt-3 mb-0'> Gil de Carvalho</p>
                        <p class='mt-3 mb-0'> Gracia do Salgueiro</p>
                        


                    </div>

                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> Guilherme do Ponto Chic</p>
                        <p class='mt-3 mb-0'> Irani Gonçalves</p>
                        <p class='mt-3 mb-0'> Ismail de Souza</p>
                        <p class='mt-3 mb-0'> Ivan Mendonça</p>
                        <p class='mt-3 mb-0'> Jayme Bahia </p>
                        <p class='mt-3 mb-0'> Jô Poeta </p>
                        <p class='mt-3 mb-0'> Joci Silva</p>
                        <p class='mt-3 mb-0'> Joel Silva</p>
                        <p class='mt-3 mb-0'> Jorge Garcia</p>
                        <p class='mt-3 mb-0'> Jorge Machado </p>
                        <p class='mt-3 mb-0'> Jorge Mirim</p>
                        <p class='mt-3 mb-0'> Jorge Portela</p>
                        <p class='mt-3 mb-0'> Jose Carlos</p>
                        <p class='mt-3 mb-0'> Juarez da Boca do Mato</p>
                        <p class='mt-3 mb-0'> Julinho Belmiro</p>
                        <p class='mt-3 mb-0'> Lais Amaral</p>
                        <p class='mt-3 mb-0'> Laureano </p>
                        <p class='mt-3 mb-0'> Luis Moreno</p>
                        <p class='mt-3 mb-0'> Luiz Carlos da Varginha</p>
                        <p class='mt-3 mb-0'> Luiz Grande</p>
                        <p class='mt-3 mb-0'> Manoelzinho Poeta</p>
                        <p class='mt-3 mb-0'> Marcinho</p>
                        <p class='mt-3 mb-0'> Marcio Pintinho</p>
                        <p class='mt-3 mb-0'> Marimbondo </p>
                        <p class='mt-3 mb-0'> Mario Gogó</p>
                        <p class='mt-3 mb-0'> Marquinhos Diniz</p>
                        <p class='mt-3 mb-0'> Marquinhos PQD</p>
                        <p class='mt-3 mb-0'> Marujo</p>
                        <p class='mt-3 mb-0'> Mathias de Freitas </p>
                        <p class='mt-3 mb-0'> Menilson</p>
                        <p class='mt-3 mb-0'> Moacyr Bombeiro</p>
                        <p class='mt-3 mb-0'> Moacyr da Silva</p>
                        <p class='mt-3 mb-0'> Nanico do Galo</p>
                        <p class='mt-3 mb-0'> Naval</p>
                        <p class='mt-3 mb-0'> Neguinho da Beija Flor</p>
                        <p class='mt-3 mb-0'> Netinho Arrastão</p>
                        <p class='mt-3 mb-0'> Ney Silva</p>
                        <p class='mt-3 mb-0'> Nilcilea Gomes</p>
                        <p class='mt-3 mb-0'> Nilo Bahia</p>
                        <p class='mt-3 mb-0'> Nilo Dias</p>
                        <p class='mt-3 mb-0'> Nilson Reza Forte</p>
                        <p class='mt-3 mb-0'> Noca da Portela</p>
                        <p class='mt-3 mb-0'> Norival Reis</p>
                        <p class='mt-3 mb-0'> Otacilio da Mangueira</p>
                        <p class='mt-3 mb-0'> Paulinho Correa</p>
                        <p class='mt-3 mb-0'> Pedrinho Miranda</p>
                        <p class='mt-3 mb-0'> Pedro Botina</p>


                    </div>

                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> Pinga </p>
                        <p class='mt-3 mb-0'> Popular P.</p>
                        <p class='mt-3 mb-0'> Quarentinha</p>
                        <p class='mt-3 mb-0'> Raimundo de Barros Filho</p>
                        <p class='mt-3 mb-0'> Regina do Bezerra</p>
                        <p class='mt-3 mb-0'> Ricardo Vela</p>
                        <p class='mt-3 mb-0'> Roberto Junior</p>
                        <p class='mt-3 mb-0'> Roberto Nunes</p>
                        <p class='mt-3 mb-0'> Rodrigo (Raimundão)</p>
                        <p class='mt-3 mb-0'> Rody da Mangueira</p>
                        <p class='mt-3 mb-0'> Romildo</p>
                        <p class='mt-3 mb-0'> Ronaldão</p>
                        <p class='mt-3 mb-0'> Rosemberg</p>
                        <p class='mt-3 mb-0'> Roxinho</p>
                        <p class='mt-3 mb-0'> Rubens da Mangueira</p>
                        <p class='mt-3 mb-0'> Rubens DaVilla</p>
                        <p class='mt-3 mb-0'> Sarabanda</p>
                        <p class='mt-3 mb-0'> Sergio Fernandes</p>
                        <p class='mt-3 mb-0'> Serginho Meriti</p>
                        <p class='mt-3 mb-0'> Sergio Mosca</p>
                        <p class='mt-3 mb-0'> Silva Junior</p>
                        <p class='mt-3 mb-0'> Silvinho do Pandeiro</p>
                        <p class='mt-3 mb-0'> Silvio Modesto</p>
                        <p class='mt-3 mb-0'> Simões PQD</p>
                        <p class='mt-3 mb-0'> Tadeu do Cavaco</p>
                        <p class='mt-3 mb-0'> Tião Miranda</p>
                        <p class='mt-3 mb-0'> Titio do Pandeiro</p>
                        <p class='mt-3 mb-0'> Tito</p>
                        <p class='mt-3 mb-0'> Tonho Magrinho</p>
                        <p class='mt-3 mb-0'> Trambique</p>
                        <p class='mt-3 mb-0'> Ubirajara Lucio</p>
                        <p class='mt-3 mb-0'> Valéria do Cavaco</p>
                        <p class='mt-3 mb-0'> Velho Bira</p>
                        <p class='mt-3 mb-0'> Velho Zuza</p>
                        <p class='mt-3 mb-0'> Walmir da Purificação</p>
                        <p class='mt-3 mb-0'> Walmir do Pagodes</p>
                        <p class='mt-3 mb-0'> Walter Coragem</p>
                        <p class='mt-3 mb-0'> Walter Meninão</p>
                        <p class='mt-3 mb-0'> Wantuir</p>
                        <p class='mt-3 mb-0'> Wilsinho Saravá</p>
                        <p class='mt-3 mb-0'> Wilson Medeiros</p>
                        <p class='mt-3 mb-0'> Zaba</p>
                        <p class='mt-3 mb-0'> Zalém</p>
                        <p class='mt-3 mb-0'> Zé Pretinho da Bahia</p>
                        <p class='mt-3 mb-0'> Zéluiz</p>
                        <p class='mt-3 mb-0'> Zezé</p>
                        <p class='mt-3 mb-0'> Zezinho do Vale</p>



                    </div>


                </div>



            </div>


        </section>


    </main>




    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>