<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/FotosBezerra/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Salve Salve</title>
</head>
<body>
    
    <i class="bi bi-list menu-mobile"></i>


    <aside id='header'>
        <section class="profile">
            <img src="../static/FotosBezerra/images (1).jpeg" alt="Foto do Bezerra">
            <h1>Bezerra da Silva</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.tiktok.com/@bezerraobrabao">
                    <i class="bi bi-tiktok"></i>

                </a>
                <a target="_blank" href="https://www.instagram.com/@bezerraobrabao">
                    <i class="bi bi-instagram"></i>

                </a>
                <a target="_blank" href="https://www.youtube.com/@bezerraobrabao">
                    <i class="bi bi-youtube"></i>

                </a>
                


            </div>


        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#compositores"><i class="bi bi-person-vcard-fill"></i> Compositores</a>
                </li>                 
                <li class="nav-item">
                    <a class="nav-link" href="#historia"><i class="bi bi-book"></i> História</a>
                </li>                   
                <li class="nav-item">
                    <a class="nav-link" href="#cifras"><i class="bi bi-music-note-list"></i> Cifras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#discografia"><i class="bi bi-disc"></i> Discografia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
                </li>
              </ul>


        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Bezerra da Silva</h2>
                <span id="subtitle" class="text-white text-shadow">O Mais Brabo de Todos</span>


            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"
                    aria-hidden="true"></i>"
                    <a href="#sobre">Arraste para mais</a>


                </div>


                


            </div>



        </section>

        <section class="container mt-5" id='sobre'>

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Acreditamos no poder da música para transformar a realidade das pessoas.
                        E ninguém fez isso melhor do que Bezerra da Silva, narrando a verdade 
                        que ocorre e ocorria nos morros, favelas, subúrbios e etc., nos lugares
                        onde a TV não mostrava e onde as pessoas passavam por muitos problemas
                        sociais e econômicos mas eram quase "invisíveis" para outra parte 
                        da população, aparecendo apenas em noticiários criminais praticamente.

                        Diante disso, pretendemos divulgar a obra do maior narrador da vida real 
                        do povo brasileiro, com suas denúncias e ironias sobre como a elite 
                        perversa e os políticos faziam para se manter no poder, as custas da vida
                        do povo, juntamente com suas histórias sobre a vida cotidiana nos morros e
                        periferias do Rio e do Brasil!
                    </p>


                </div>


            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/FotosBezerra/images (7).jpeg" alt="Foto do Bezerra">


                </div>
                <div class="col-md-8">
                    <h3>Cantor, Compositor e Multi-instrumentista</h3>
                    <p>Interpréte do Morro, gostava de cantar músicas dos compositores locais e as modificava para seu estilo, 
                        mas quase nunca colocava seu nome como autor,
                        pois tinha grande crítica a forma que os compositores 
                        eram tratados por artistas e gravadoras. Também tocava instrumentos de percussão em geral, além de violão,
                        cavaco e piano.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">23 de Fevereiro
                                        de 1927</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Recife</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Pernambuco</span>
                                </li>
                                <li class="list-group-item">
                                    País: <span class="fw-lighter">Brasil</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Falecimento: <span class="fw-lighter">17 de Janeiro
                                        de 2005</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                                </li>
                            
                                <li class="list-group-item">
                                    Título: <span class="fw-lighter">"Embaixador dos Morros e
                                        Favelas" ou "A Voz do Morro"
                                    </span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="compositores">

            <div class="container pb-5">
                <h2 class='pt-5'>Compositores</h2>
                <p>Uma das coisas mais importantes na carreira musical de Bezerra da Silva
                    eram os compositores, ao qual eram chamados de "compositores de verdade".
                    Tentaremos trazer informações sobre eles nessa parte. </p>

                <div class="row">
                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> 1000tinho </p>
                        <p class='mt-3 mb-0'> adelino da chatuba </p>
                        <p class='mt-3 mb-0'> Adelzonilton </p>
                        <p class='mt-3 mb-0'> Ary Do Cavaco </p>
                        <p class='mt-3 mb-0'> Athayde Lucena </p>
                        <p class='mt-3 mb-0'> Baes </p>
                        <p class='mt-3 mb-0'> Baiano 7 </p>
                        <p class='mt-3 mb-0'> Barbeirinho do Jacarezinho </p>
                        <p class='mt-3 mb-0'> Batatinha </p>
                        <p class='mt-3 mb-0'> Beto Pernada </p>
                        <p class='mt-3 mb-0'> Beto sem Braço </p>
                        <p class='mt-3 mb-0'> Bibico </p>
                        <p class='mt-3 mb-0'> Bicalho </p>
                        <p class='mt-3 mb-0'> Bimba da Tavares Bastos</p>
                        <p class='mt-3 mb-0'> Biro do Cavaco</p>
                        <p class='mt-3 mb-0'> Cabana</p>
                        <p class='mt-3 mb-0'> Caboré</p>
                        <p class='mt-3 mb-0'> Capri</p>
                        <p class='mt-3 mb-0'> Carlinho Bohemia </p>
                        <p class='mt-3 mb-0'> Carlinhos do Jorge Turco </p>
                        <p class='mt-3 mb-0'> Carlinhos Russo </p>
                        <p class='mt-3 mb-0'> Claudinho Inspiração </p>
                        <p class='mt-3 mb-0'> Cosme da viola</p>
                        <p class='mt-3 mb-0'> Cosme Diniz </p>
                        <p class='mt-3 mb-0'> Criolo Doido </p>
                        <p class='mt-3 mb-0'> Darci do Pandeiro </p>
                        <p class='mt-3 mb-0'> Dario Augusto </p>
                        <p class='mt-3 mb-0'> Deja</p>
                        <p class='mt-3 mb-0'> Délcio Carvalho</p>
                        <p class='mt-3 mb-0'> Dinho </p>
                        <p class='mt-3 mb-0'> Duda </p>
                        <p class='mt-3 mb-0'> Dunga do Coroa</p>
                        <p class='mt-3 mb-0'> Edson Show </p>
                        <p class='mt-3 mb-0'> Eli Santos </p>
                        <p class='mt-3 mb-0'> Eliezer da Ponte</p>
                        <p class='mt-3 mb-0'> Elson Gente Boa</p>
                        <p class='mt-3 mb-0'> Embratel do Pandeiro</p>
                        <p class='mt-3 mb-0'> Felipão</p>
                        <p class='mt-3 mb-0'> Fernando de Jesus</p>
                        <p class='mt-3 mb-0'> Franco Teixeira </p>
                        <p class='mt-3 mb-0'> G. Martins</p>
                        <p class='mt-3 mb-0'> Galhardo</p>
                        <p class='mt-3 mb-0'> Genilda do Pinga</p>
                        <p class='mt-3 mb-0'> Geraldão</p>
                        <p class='mt-3 mb-0'> Geraldo Gomes</p>
                        <p class='mt-3 mb-0'> Gil de Carvalho</p>
                        <p class='mt-3 mb-0'> Gracia do Salgueiro</p>
                        


                    </div>

                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> Guilherme do Ponto Chic</p>
                        <p class='mt-3 mb-0'> Irani Gonçalves</p>
                        <p class='mt-3 mb-0'> Ismail de Souza</p>
                        <p class='mt-3 mb-0'> Ivan Mendonça</p>
                        <p class='mt-3 mb-0'> Jayme Bahia </p>
                        <p class='mt-3 mb-0'> Jô Poeta </p>
                        <p class='mt-3 mb-0'> Joci Silva</p>
                        <p class='mt-3 mb-0'> Joel Silva</p>
                        <p class='mt-3 mb-0'> Jorge Garcia</p>
                        <p class='mt-3 mb-0'> Jorge Machado </p>
                        <p class='mt-3 mb-0'> Jorge Mirim</p>
                        <p class='mt-3 mb-0'> Jorge Portela</p>
                        <p class='mt-3 mb-0'> Jose Carlos</p>
                        <p class='mt-3 mb-0'> Juarez da Boca do Mato</p>
                        <p class='mt-3 mb-0'> Julinho Belmiro</p>
                        <p class='mt-3 mb-0'> Lais Amaral</p>
                        <p class='mt-3 mb-0'> Laureano </p>
                        <p class='mt-3 mb-0'> Luis Moreno</p>
                        <p class='mt-3 mb-0'> Luiz Carlos da Varginha</p>
                        <p class='mt-3 mb-0'> Luiz Grande</p>
                        <p class='mt-3 mb-0'> Manoelzinho Poeta</p>
                        <p class='mt-3 mb-0'> Marcinho</p>
                        <p class='mt-3 mb-0'> Marcio Pintinho</p>
                        <p class='mt-3 mb-0'> Marimbondo </p>
                        <p class='mt-3 mb-0'> Mario Gogó</p>
                        <p class='mt-3 mb-0'> Marquinhos Diniz</p>
                        <p class='mt-3 mb-0'> Marquinhos PQD</p>
                        <p class='mt-3 mb-0'> Marujo</p>
                        <p class='mt-3 mb-0'> Mathias de Freitas </p>
                        <p class='mt-3 mb-0'> Menilson</p>
                        <p class='mt-3 mb-0'> Moacyr Bombeiro</p>
                        <p class='mt-3 mb-0'> Moacyr da Silva</p>
                        <p class='mt-3 mb-0'> Nanico do Galo</p>
                        <p class='mt-3 mb-0'> Naval</p>
                        <p class='mt-3 mb-0'> Neguinho da Beija Flor</p>
                        <p class='mt-3 mb-0'> Netinho Arrastão</p>
                        <p class='mt-3 mb-0'> Ney Silva</p>
                        <p class='mt-3 mb-0'> Nilcilea Gomes</p>
                        <p class='mt-3 mb-0'> Nilo Bahia</p>
                        <p class='mt-3 mb-0'> Nilo Dias</p>
                        <p class='mt-3 mb-0'> Nilson Reza Forte</p>
                        <p class='mt-3 mb-0'> Noca da Portela</p>
                        <p class='mt-3 mb-0'> Norival Reis</p>
                        <p class='mt-3 mb-0'> Otacilio da Mangueira</p>
                        <p class='mt-3 mb-0'> Paulinho Correa</p>
                        <p class='mt-3 mb-0'> Pedrinho Miranda</p>
                        <p class='mt-3 mb-0'> Pedro Botina</p>


                    </div>

                    <div class="col-md-4">
                        <p class='mt-3 mb-0'> Pinga </p>
                        <p class='mt-3 mb-0'> Popular P.</p>
                        <p class='mt-3 mb-0'> Quarentinha</p>
                        <p class='mt-3 mb-0'> Raimundo de Barros Filho</p>
                        <p class='mt-3 mb-0'> Regina do Bezerra</p>
                        <p class='mt-3 mb-0'> Ricardo Vela</p>
                        <p class='mt-3 mb-0'> Roberto Junior</p>
                        <p class='mt-3 mb-0'> Roberto Nunes</p>
                        <p class='mt-3 mb-0'> Rodrigo (Raimundão)</p>
                        <p class='mt-3 mb-0'> Rody da Mangueira</p>
                        <p class='mt-3 mb-0'> Romildo</p>
                        <p class='mt-3 mb-0'> Ronaldão</p>
                        <p class='mt-3 mb-0'> Rosemberg</p>
                        <p class='mt-3 mb-0'> Roxinho</p>
                        <p class='mt-3 mb-0'> Rubens da Mangueira</p>
                        <p class='mt-3 mb-0'> Rubens DaVilla</p>
                        <p class='mt-3 mb-0'> Sarabanda</p>
                        <p class='mt-3 mb-0'> Sergio Fernandes</p>
                        <p class='mt-3 mb-0'> Serginho Meriti</p>
                        <p class='mt-3 mb-0'> Sergio Mosca</p>
                        <p class='mt-3 mb-0'> Silva Junior</p>
                        <p class='mt-3 mb-0'> Silvinho do Pandeiro</p>
                        <p class='mt-3 mb-0'> Silvio Modesto</p>
                        <p class='mt-3 mb-0'> Simões PQD</p>
                        <p class='mt-3 mb-0'> Tadeu do Cavaco</p>
                        <p class='mt-3 mb-0'> Tião Miranda</p>
                        <p class='mt-3 mb-0'> Titio do Pandeiro</p>
                        <p class='mt-3 mb-0'> Tito</p>
                        <p class='mt-3 mb-0'> Tonho Magrinho</p>
                        <p class='mt-3 mb-0'> Trambique</p>
                        <p class='mt-3 mb-0'> Ubirajara Lucio</p>
                        <p class='mt-3 mb-0'> Valéria do Cavaco</p>
                        <p class='mt-3 mb-0'> Velho Bira</p>
                        <p class='mt-3 mb-0'> Velho Zuza</p>
                        <p class='mt-3 mb-0'> Walmir da Purificação</p>
                        <p class='mt-3 mb-0'> Walmir do Pagodes</p>
                        <p class='mt-3 mb-0'> Walter Coragem</p>
                        <p class='mt-3 mb-0'> Walter Meninão</p>
                        <p class='mt-3 mb-0'> Wantuir</p>
                        <p class='mt-3 mb-0'> Wilsinho Saravá</p>
                        <p class='mt-3 mb-0'> Wilson Medeiros</p>
                        <p class='mt-3 mb-0'> Zaba</p>
                        <p class='mt-3 mb-0'> Zalém</p>
                        <p class='mt-3 mb-0'> Zé Pretinho da Bahia</p>
                        <p class='mt-3 mb-0'> Zéluiz</p>
                        <p class='mt-3 mb-0'> Zezé</p>
                        <p class='mt-3 mb-0'> Zezinho do Vale</p>



                    </div>


                </div>



            </div>


        </section>

        <section class="mt-5 hist" id="historia">

            <div class="container pb-5">
                <div class="col-md-12">
                    <h2 class="pt-3 pb-4" >História</h2>

                    <div class="row">

                        <P>José Bezerra da Silva (Recife, 23 de fevereiro de 1927 — Rio de Janeiro, 17 de janeiro de 2005) foi um cantor,
                             compositor, violonista, percussionista e intérprete brasileiro dos gêneros musicais coco e samba, em 
                             especial de partido-alto. No princípio, dedicava-se principalmente ao coco até se transformar em um dos 
                             principais expoentes do samba nos anos seguintes. Através do samba, cantou os problemas sociais das 
                             favelas e da população marginalizada, atuando ente marginalidade e indústria musical. Estudou violão 
                             clássico por oito anos e passou outros oito anos tocando na orquestra da Rede Globo, sendo um dos poucos 
                             partideiros que lia partituras.                          
                            Gravou seu primeiro compacto em 1969 e o primeiro disco em 1975, de um total de 28 álbuns lançados em toda 
                            a carreira que, somados, venderam mais de 3 milhões de cópias. Ganhou 11 discos de ouro, 3 de platina e 1
                            de platina duplo. Apesar de ter sido um dos artistas mais populares do Brasil, foi bastante ignorado pelo 
                            mainstream.</P>

                        <h3 class="pt-3 pb-4" >Primeiros Anos</h3>

                            <p>
                        Filho de família pobre, Bezerra da Silva nasceu no Recife em 23 de fevereiro de 1927. Sua mãe, Hercília 
                        Pereira da Silva, foi abandonada pelo marido, Alexandrino Bezerra da Silva, quando estava grávida do 
                        filho. Aos 15 anos de idade, depois de ser expulso da Marinha Mercante, Bezerra da Silva viajou para o 
                        Rio de Janeiro, para procurar o pai e fugir da pobreza. Fez a viagem em um navio que carregava açúcar 
                        e estava apenas com a roupa do corpo. Encontrou o pai, mas com mais atritos, acabou ficando sozinho.                        
                        Passou a trabalhar na construção civil como pintor de paredes e tinha como endereço a obra na zona central
                         da cidade, onde exercia sua profissão. Pelos idos de 1949, começou a se enamorar de uma "dona" e foi
                          morar com ela no Morro do Cantagalo, na Zona Sul.</p>
                        
                        <h3 class="pt-3 pb-4" >Boemia, detenções e queda</h3>

                            <p> Começou a desenvolver a verve musical, a partir do coco de Jackson do Pandeiro, e logo ingressou 
                            na bateria
                            do bloco carnavalesco Unidos do Cantagalo, tocando tamborim. Em 1950, conheceu Doca, também morador do 
                            Morro do Cantagalo, que o convidou para participar do "Programa da Rádio Clube do Brasil" como 
                             ritmista — além do tamborim, tocava surdo e instrumentos de percussão em geral. Boêmio e malandro, 
                            foi detido dezenas de vezes pela polícia e acabou desempregado em 1954. Durante muitos anos viveu como 
                            morador de rua em Copacabana, quando chegou a tentar o suicídio, mas foi salvo e acolhido em um terreiro
                            de umbanda. Lá, descobriu sua mediunidade e soube, através de uma mãe-de-santo, que o seu destino era a 
                            música.</p>

                        <h3 class="pt-3 pb-4" >Renascimento com a música</h3>
                            <p>Convencido de que não deveria mais procurar trabalho no ramo da construção civil, reinventou sua vida 
                            como músico profissional e compositor. Sob o nome artístico José Bezerra, teve as composições "Acorrentado"
                             e "Leva teu gereré", em parceria com Jackson do Pandeiro, lançadas no primeiro álbum da carreira do 
                             paraibano, em 1959. Na primeira metade da década de 1960, ingressou na orquestra da gravadora Copacabana
                            Discos, que acompanhava vários artistas de renome, e também teve novas composições, assinadas com outros
                            músicos, gravadas por Jackson do Pandeiro, como "Meu veneno" (com Jackson do Pandeiro e Mergulhão), "Urubu molhado"
                             (com Rosil Cavalcanti), "Babá" (com Mamão e Ricardo Valente), "Criando cobra" (com Big Ben e Odelandes Rodrigues)
                              e "Preguiçoso" (com Jackson do Pandeiro). Em 1965, a cantora Marlene gravou "Nunca mais", uma parceria de Bezerra
                               com Norival Reis.
                                
                                Em 1967, compôs seu primeiro samba, chamado "Verdadeiro amor", que foi gravado por Jackson do Pandeiro naquele ano.

                            </p>
                        
                        <h3 class="pt-3 pb-4" >Primeiros discos</h3>

                        <p>No final daquela década, mudou o nome artístico para Bezerra da Silva e, em 1969, gravou um compacto simples
                             pela Copacabana Discos, com as músicas "Mana, cadê meu boi?" e "Viola testemunha". Seu primeiro LP,"Bezerra
                              da Silva - O Rei do Coco Volume 1", seria apenas lançado em 1975, pela gravadora Tapecar, e teve como 
                              destaque a canção "O rei do coco". No ano seguinte, pela mesma gravadora, lançou "Bezerra da Silva - 
                              O Rei do Coco Volume 2", cujo maior destaque foi "Cara de boi".


                        </p>

                        <h3 class="pt-3 pb-4" >Fama</h3>

                        <P>A partir da série Partido Alto Nota 10 começou a encontrar o público. O repertório dos discos passou a ser 
                            abastecido por autores anônimos (alguns usando codinomes para preservar a clandestinidade) e Bezerra. Antes
                             do Hip Hop brasileiro, ele passou a mostrar a sua realidade em músicas como: "Malandragem Dá um Tempo", 
                             "Sequestraram Minha Sogra", "Defunto Caguete", "Bicho Feroz", "Overdose de Cocada", "Malandro Não Vacila",
                              "Meu Pirão Primeiro", "Lugar Macabro", "Piranha", "Pai Véio 171", "Candidato Caô Caô". Em 1995 gravou pela
                               gravadora CID "Moreira da Silva, Bezerra da Silva e Dicró: Os Três Malandros In Concert", uma paródia ao
                                show dos três tenores, Luciano Pavarotti, Plácido Domingo e José Carreras.
                        </P>

                        <h3 class="pt-3 pb-4" >Anos finais</h3>

                        <P>Em 2001 tornou-se evangélico neopentecostal da Igreja Universal do Reino de Deus. Em 2005, perto da morte,
                             mas ainda demonstrando plena atividade, participou de composições com Planet Hemp, O Rappa e outros nomes
                              de prestígio da Música Popular Brasileira. Em setembro de 2004, foi internado em uma clínica privada do 
                              Rio de Janeiro com pneumonia e enfisema pulmonar e chegou a ficar por quase uma semana em coma. Um mês 
                              depois, o sambista passou mal novamente. Foi levado ao Hospital dos Servidores do Estado, onde foi
                               internado com problemas pulmonares e faleceu em 17 de janeiro de 2005, aos 77 anos.                           
                            Ainda naquele ano, teve lançado postumamente seu disco evangélico Caminho de Luz</P>

                        <h3 class="pt-3 pb-4" >Vida pessoal</h3>

                        <P>Foi casado com Regina de Oliveira, que também foi sua empresária e uma de suas compositoras, sob o pseudônimo
                             de Regina do Bezerra. Antes de se tornar neopentecostal ao final da vida, Bezerra foi ligado à umbanda e 
                             assíduo frequentador do terreiro do Pai Nilo, em Belford Roxo.                          
                            Um de seus filhos, Ytallo Bezerra da Silva, também seguiu a carreira de músico.</P>

                        <h3 class="pt-3 pb-4" >Legado</h3>

                        <P>O sambista pernambucano foi tema do livro "Bezerra da Silva - Produto do Morro", de Letícia Vianna, lançado 
                            em 1998. O rapper Marcelo D2 lhe prestou homenagem quando lançou em 2010, pela gravadora EMI, o álbum 
                            "Marcelo D2 canta Bezerra da Silva", no qual perfilou parte da obra interpretada pelo sambista.                            
                            Em 2012, foi lançado o documentário "Onde a coruja dorme", de Márcia Derraik e Simplício Neto, que destaca 
                            os compositores de suas músicas, trabalhadores anônimos, que abordavam em suas letras temas da realidade 
                            brasileira como o malandro, o otário, o alcaguete, a maconha. O filme teve origem no curta-metragem
                            homônimo, lançado onze anos antes.                          
                            Outro legado é o incontestável e único estilo do típico malandro carioca com seu boné brad brim estampado
                             até hoje inspira muitos admirados em rodas de samba.</P>

                        <h3 class="pt-3 pb-4" >Obra</h3>

                        <P>Os principais temas de suas canções foram a vida do povo e os problemas da sociedade e das favelas, como a 
                            exploração e a opressão sofridas pelos trabalhadores, a malandragem e ladrões à margem da lei, a questão 
                            do uso de drogas como a maconha e a condenação à caguetagem (delação de companheiros). "Essas músicas 
                            que eu canto são de compositores que são servente de pedreiro, camelô, outro tá desempregado, outro limpa 
                            o carro da madame e a mulher é a cozinheira."</P>






                            
                    </div>

                </div>    




            </div>




        </section>

        <section id="cifras" class="section-bg mt-5">

            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Cifras</h2>

                <p>Traremos nessa parta as cifras das músicas do nosso grande mestre, estamos em contato com nosso time musical 
                    para trazermos as cifras inéditas e para as que já encontramos facilment na internet, redicionaremos para os 
                    sites parceiros.
                    
                </p>

                <div class="row">

                    <div class="col-md-4">

                        <div class="list-group">
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-fumaca-ja-subiu-pra-cuca" target="_blank" class="list-group-item list-group-item-action">A Fumaça Já Subiu Pra Cuca</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-giria-e-a-cultura-do-povo" target="_blank" class="list-group-item list-group-item-action">A Gíria É A Cultura Do Povo</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-necessidade" target="_blank" class="list-group-item list-group-item-action">A Necessidade</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-semente" target="_blank" class="list-group-item list-group-item-action">A Semente</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-semente-ver-2" target="_blank" class="list-group-item list-group-item-action">A Semente (Ver. 2)</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/acordo-de-malandro" target="_blank" class="list-group-item list-group-item-action">Acordo De Malandro</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/alo-sao-pedro" target="_blank" class="list-group-item list-group-item-action">Alô, São Pedro</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/apolo-do-samba" target="_blank" class="list-group-item list-group-item-action">Apolo Do Samba</a>
                            <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/arruda-de-guine" target="_blank" class="list-group-item list-group-item-action">Arruda De Guiné</a>
                            <a href="https://www.cifraclub.com.br/bezerra-da-silva/assino-em-baixo-pela-minha-rapaziada/" target="_blank" class="list-group-item list-group-item-action">Assino Em Baixo Pela Minha Rapaziada</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                          
                            
                          </div>



                    </div>


                    <div class="col-md-4">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>



                            
                          </div>



                    </div>

                    <div class="col-md-4">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                            <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>


                           
                          </div>



                    </div>









                </div>






            </div>



        </section>

        <section class="disc" id="discografia">

            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Discografia</h2>

                <p>Esta é a discografia do "Homem" rs, deixaremos de fora apenas algumas coletâneas feitas por gravadoras,
                    mas que não trazem músicas inéditas.
                </p>

                <div id="carouselDiscos" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="2000">

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <a href="https://www.cifras.com.br/cifra/bezerra-da-silva/a-fumaca-ja-subiu-pra-cuca" 
                                    target="_blank">
                                    <div class="card">
                                        <img src="../static/Discos/1 - o rei do coco 1975.jpg" 
                                        class="card-img-top" alt="O Rei do Côco">
                                    
                                      </div>
                                </a>
                              
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/Discos/2 - o rei do coco v2.jpg" 
                                class="card-img-top" alt="O Rei do Côco Vol.2">
                               
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/Discos/3 - partido alto nota 10 - genaro e bezerra da silva.jpg" 
                                class="card-img-top" alt="Partido Alto Nota 10">
                                
                              </div>
                            </div>
                           
                          </div>
                        
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/4 - Partido Alto Nota 10 vol.2 - bezerra e convidados.jpg" 
                                  class="card-img-top" alt="Partido Alto Nota 10 Vol.2">
                                  
                                </div>
                              </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/Discos/5 - Partido Muito Alto.jpg" 
                                class="card-img-top" alt="Partido Muito Alto">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/Discos/6 - Partido alto nota 10 vol.3 - bezerra  e rey jordao.jpg" 
                                class="card-img-top" alt="Partido Alto Nota 10 Vol.2">
                                
                              </div>
                            </div>
                            
                            
                          </div>
                        
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/7 - Samba Partido e Outras Comidas.jpg" 
                                  class="card-img-top" alt="Samba Partido e Outras Comidas">
                                  
                                </div>
                              </div>
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/8 - Punhado de Bambas.jpg" 
                                  class="card-img-top" alt="Punhado De Bambas">
                                  
                                </div>
                              </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/Discos/9 - Produto do Morro.jpg" 
                                class="card-img-top" alt="Produto Do Morro">
                                
                              </div>
                            </div>
                            
                            
                            
                        </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/10 - é esse aí q é o homem.jpg" 
                                  class="card-img-top" alt="É Esse Aí Que é o Homem">
                                  
                                </div>
                              </div>
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/11 - Malandro Rife.jpg" 
                                  class="card-img-top" alt="Malandro Rife">
                                  
                                </div>
                              </div>

                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/12 - Alo malandragem, maloca o flagrante.jpeg" 
                                  class="card-img-top" alt="Alô Malandragem, Maloca o Flagrante!">
                                  
                                </div>
                            </div>                    
                            
                        </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card">
                                  <img src="../static/Discos/13 - Justiça Social.jpg" 
                                  class="card-img-top" alt="Justiça Social">
                                  
                                </div>
                              </div>
                            
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                        </div>                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            
                          </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            
                          </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            
                          </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                
                              </div>
                            </div>
                            
                          </div>
                        
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDiscos" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselDiscos" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>


                <div class="row">

                    <div class="col-md-6">

                        <div class="list-group">

                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

                        </div>

                    </div>

                

                    <div class="col-md-6">

                        <div class="list-group">

                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">Quando o Morcego Doar Sangues</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>
                                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

                        </div>


                    </div>

                </div>




            </div>


        </section>



    </main>




    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>