<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/FotosBezerra/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Nilo Dias</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>


  <aside id='header'>
    <section class="profile">
      <img src="../static/FotosBezerra/images (1).jpeg" alt="Foto do Bezerra">
      <h1>Bezerra da Silva</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.tiktok.com/@bezerraobrabao">
          <i class="bi bi-tiktok"></i>

        </a>
        <a target="_blank" href="https://www.instagram.com/@bezerraobrabao">
          <i class="bi bi-instagram"></i>

        </a>
        <a target="_blank" href="https://www.youtube.com/@bezerraobrabao">
          <i class="bi bi-youtube"></i>

        </a>



      </div>


    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/#inicio"><i class="bi bi-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sobre"><i class="bi bi-person"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#compositores"><i class="bi bi-person-vcard-fill"></i> Compositores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#historia"><i class="bi bi-book"></i> História</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#cifras"><i class="bi bi-music-note-list"></i> Cifras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#discografia"><i class="bi bi-disc"></i> Discografia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contato"><i class="bi bi-envelope"></i> Contato</a>
        </li>
        </li>
      </ul>


    </nav>

  </aside>   
  
<main id="main">
  <section class="container mt-5" id='sobreNilo'>

    <h1>Em construção!</h1>
    <h2>Se quiser contribuir nos envie mensagem na seção contato deste site sobre este ou outro compositor de verdade!!</h2>

  </section>
</main>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>